/*Aqui se encuentran los estilos para el header, footer y barra de navegación*/

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*------------Estilo general-----------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;	
}

body {
	font-family: "Urbanist", sans-serif;
}

.flex{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items: center;
}

/*------------header-----------*/
.modificador{
	width:100%;
}

.cabecera{
	width:100%;
	margin:auto;
	background-color: #D0D0D1;
}

.logo{
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;

}

/*------------Estilos barra navegación-----------*/

/*Diseño de backgroud de barra de navegación*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004179;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #E0A823;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DCDCDC;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #004179;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:#E0A823;   color: white;}

.dropdown:hover .dropdown-content {
  display: block;
  
}

/*------------Estilo footer-----------*/
.footer{
	background: #022157;
	color: white;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
    display: flex;
	justify-content: center;
	
}
.footer a{
	color: white;
	border: 1 px;
	line-height: 2;
}

.foot-section{
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 500px;
	text-align: center;
	/*margin: 0 auto;*/
}

.cr{
	background-color: #D0D0D1;
	color: #004179;
	text-align: center;
	display: block;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
